@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 235, 235, 235;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 15, 15, 15;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.label {
  @apply uppercase text-sm font-semibold text-neutral-500;
}
.item {
  @apply font-normal text-lg text-neutral-200 block mb-4
}